<h1 class="text-3xl font-bold underline">Print Queue</h1>
<br>
<div class="h-40 w-1/2 grid grid-cols-2 gap-1 content-evenly">
<button onclick="exportJob();" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Export</button>
<%= link_to "Clear Queue", clear_print_jobs_path, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</div>
<br>
<script>
function exportJob() {
  $.ajax({
    url: export_print_job_path,
    success: function(result) {
      processExport(json.jobId);
    },
    error: function(req, statusText, err) {
      alert("Error processing job.");
    }
  });
}
function processExport(jobId) {
  $.ajax({
    url: print_export_status_path(jobId),
    success: function(result) {
      alert("Job done!");
      window.location(print_export_download_path(jobId));
    },
    error: function(req, statusText, err) {
      if(req.status == 202) {
        setTimeout(function() { processExport(jobId); }, 2000); }
      else { alert("Error processing job."); }
    }
  });
}</script>
<%= render partial: "covers/covers", locals: {covers: @jobs.map{|job| job.cover}, show_page_count: true } %>
