<h2>Covers</h2>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th></th>
      <th>Book</th>
      <th>Edition </th>
      <th>Format </th>
      <th>Image </th>
    </tr>
  </thead>
  <tbody>
   <% @covers.each do |cover| %>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="col" class="px-6 py-3"></td>
      <th scope="col" class="px-6 py-3"><%= cover.book.title%></td>
      <th scope="col" class="px-6 py-3"><%= cover.edition%></td>
      <th scope="col" class="px-6 py-3"><%=cover.format %></td>
      <th scope="col" class="px-6 py-3">
        <%= link_to image_tag(cover.image.variant(:thumb)), rails_blob_path(cover.image, disposition: 'attachment') %>
      </td>
    </tr>
    <% end %>
  </tbody>
 </table>
 </div>
