<%= form_tag covers_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>
<%= render "covers", covers: @covers, show_page_count: true %>
