<tr id="<%= dom_id format %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <td scope="col" class="px-6 py-3"><%= format.name %></td>
  <td scope="col" class="px-4 py-3"><%= format.width%></td>
  <td scope="col" class="px-4 py-3"><%= format.height %></td>
</tr>
